{% extends 'base.html' %}

{% block content %}
    <h2>Заглавная страница</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="report_number">Номер отчёта</label>
            <input type="text" class="form-control" id="report_number" name="report_number" placeholder="Введите номер отчёта">
        </div>
        <div class="form-group">
            <label for="discipline">Дисциплина</label>
            <input type="text" class="form-control" id="discipline" name="discipline" placeholder="Введите дисциплину">
        </div>
        <div class="form-group">
            <label for="report_title">Название темы отчёта</label>
            <input type="text" class="form-control" id="report_title" name="report_title" placeholder="Введите название темы">
        </div>
        <div class="form-group">
            <label for="by_name">Выполнил</label>
            <input type="text" class="form-control" id="by_name" name="by_name" placeholder="Введите имя">
        </div>
        <div class="form-group">
            <label for="by_group">Группа</label>
            <input type="text" class="form-control" id="by_group" name="by_group" placeholder="Введите группу">
        </div>
        <button type="submit" class="btn btn-primary">Далее</button>
    </form>
{% endblock %}